*.out
*.o
*zst*
*sig*
*tar.gz*
menuu
menuu-*[.]PKGBUILD
buildconf*
build
cmake-*
./*.ebuild*
PKGBUILD

include/wl/wlr-layer-shell-unstable-v1-client-protocol.h
src/wl/wlr-layer-shell-unstable-v1-protocol.c
src/wl/xdg-output-unstable-v1-protocol.c
include/wl/xdg-output-unstable-v1-client-protocol.h
include/wl/xdg-shell-client-protocol.h
src/wl/xdg-shell-protocol.c
